{% extends "base.html" %}


{% block title %}
    My Task
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if my_task_list|length == 0 %}
        <p>You have no tasks</p>
        {% endif %}
        {% if my_task_list|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            </tdbody>
            {% for task in my_task_list %}
                <tr>
                    <td>{{ task.name }}</tbodya></td>
                    <td>{{ task.start_date }}</tbodya></td>
                    <td>{{ task.due_date }}</tbodya></td>
                    <td>{{ task.is_complete.filter|yesno:"yes,no" }}</td>
                </tr>
            {% endfor %}
        {% endif %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
