{% extends "base.html" %}


{% block title %}
    Project Details
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>{{ project_object.name}}</h1>
        <p> {{ project_object.description }}
        <h2>Tasks</h2>
        <p><a href="{% url "create_task" %}">Create a new task</a></p>
        {% if project_object.tasks.all|length == 0 %}
        <p>This project has no tasks</p>
        {% endif %}
        {% if project_object.tasks.all|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            </tdbody>
                <tr>
                {% for task in project_object.tasks.all %}
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_complete.filter|yesno:"yes,no" }}</td>
                {% endfor %}
                {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
