{% extends "base.html" %}


{% block title %}
    My Projects
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <div>
            <p><a href="{% url "create_project" %}">Create a new project<a/></p>
        </div>
        {% if project_list|length == 0 %}
        <p>You are not assigned to any projects</p>
        {% endif %}
        {% if project_list|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            </tdbody>
            {% for project in project_list %}
                <tr>
                    <td><a href="{% url "show_project" project.id %}">{{ project.name }}</tbodya></td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
            {% endfor %}
        {% endif %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
